<div>
    <h2 id="page-heading">
        <span>Solar Systems</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-solar-system" [routerLink]="['/solar-system/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Solar System
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="solarSystems?.length === 0">
        <span>No solarSystems found</span>
    </div>
    <div class="table-responsive" *ngIf="solarSystems?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Galaxy</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let solarSystem of solarSystems ;trackBy: trackId">
                <td><a [routerLink]="['/solar-system', solarSystem.id, 'view' ]">{{solarSystem.id}}</a></td>
                <td>{{solarSystem.name}}</td>
                <td>{{solarSystem.galaxy}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/solar-system', solarSystem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/solar-system', solarSystem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/solar-system', { outlets: { popup: solarSystem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
