<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alien">
            <h2><span>Alien</span> {{alien.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{alien.name}}</span>
                </dd>
                <dt><span>Species</span></dt>
                <dd>
                    <span>{{alien.species}}</span>
                </dd>
                <dt><span>Planet</span></dt>
                <dd>
                    <span>{{alien.planet}}</span>
                </dd>
                <dt><span>Catergory</span></dt>
                <dd>
                    <div *ngIf="alien.catergory">
                        <a [routerLink]="['/classification', alien.catergory?.id, 'view']">{{alien.catergory?.species}}</a>
                    </div>
                </dd>
                <dt><span>Home World</span></dt>
                <dd>
                    <div *ngIf="alien.homeWorld">
                        <a [routerLink]="['/world', alien.homeWorld?.id, 'view']">{{alien.homeWorld?.planet}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alien', alien.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
