<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alien-heading">Create or edit a Alien</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_species">Species</label>
                    <input type="text" class="form-control" name="species" id="field_species"
                           formControlName="species"/>
                    <div *ngIf="editForm.get('species').invalid && (editForm.get('species').dirty || editForm.get('species').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('species').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('species').errors.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_planet">Planet</label>
                    <input type="text" class="form-control" name="planet" id="field_planet"
                           formControlName="planet"/>
                    <div *ngIf="editForm.get('planet').invalid && (editForm.get('planet').dirty || editForm.get('planet').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('planet').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('planet').errors.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_catergory">Catergory</label>
                    <select class="form-control" id="field_catergory" name="catergory" formControlName="catergory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="classificationOption.id === editForm.get('catergory').value?.id ? editForm.get('catergory').value : classificationOption" *ngFor="let classificationOption of catergories; trackBy: trackClassificationById">{{classificationOption.species}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_homeWorld">Home World</label>
                    <select class="form-control" id="field_homeWorld" name="homeWorld" formControlName="homeWorld">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="worldOption.id === editForm.get('homeWorld').value?.id ? editForm.get('homeWorld').value : worldOption" *ngFor="let worldOption of worlds; trackBy: trackWorldById">{{worldOption.planet}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
